.login-button {
    background-color: #9370db;
    color: white;
    padding: 12px 18px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 6px;
    width: 100%;
    transition: background 0.3s ease-in-out, transform 0.2s;
  }
  
  .login-button:hover {
    background-color: #7b5ec9;
    transform: scale(1.05);
  }
  