/* Body styles */
body {
  background: linear-gradient(to bottom, rgba(147, 112, 219, 1), rgba(147, 112, 219, 0.3));
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;  /* Allows content to flow vertically */
  justify-content: flex-start; /* Aligns content at the top */
  align-items: center;
  text-align: center;
  color: white;
  min-height: 100vh; /* Ensures the page takes at least the full height of the viewport */
}

/* Footer styles */
footer {

  color: white;
  padding-top: 230px;
  width: 100%;
  text-align: center;
  margin-top: auto; /* Pushes the footer to the bottom of the page */
}
