/* Body styles */
body {
  background: linear-gradient(to bottom, rgba(147, 112, 219, 1), rgba(147, 112, 219, 0.3));
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  color: white;
  min-height: 100vh;
}

/* Main container for Biography and Contact Info side by side */
.biography-contact-home-container {
  display: flex;
  justify-content: space-between;
  gap: 20px; /* Adjust the gap between the two sections */
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px; /* Reduced padding */
}

/* Biography container */
.biography-home-container {
  flex: 1;  /* Make the biography section take equal space */
}

/* Contact Info container */
.contact-info-home-container {
  flex: 1;  /* Make the contact info section take equal space */
}

/* Projects container */
.projects-home-container {
  width: 100%;
  max-width: 1200px;
  padding: 10px; /* Reduced padding */
}

/* Footer styles */
footer {
  color: white;
  padding-top: 230px;
  width: 100%;
  text-align: center;
  margin-top: auto;
}

/* Responsive behavior */
@media (max-width: 900px) {

  .biography-contact-home-container {
    flex-direction: column; /* Stack containers vertically */
    align-items: center;    /* Center align items */
    gap: 20px;
  }

  .biography-home-container, .contact-info-home-container {
    max-width: 100%;  /* Allow full width */
  }

  /* Stack Projects vertically */
  .projects-home-container {
    max-width: 100%;
  }
}
